<?xml version="1.0" encoding="utf-8"?>
<!-- 编辑使用 XMLSpy v2006 U (http://www.altova.com) 由 any (any) -->
<Configuration>
  <DBSettings>
    <!--add key="MedITS" DBType="SQL Server" DBServer="172.16.13.107\SQLEXPRESS" DBUserName="sa" DBUserPWD="vico0808" DBInstance="JX" DBTimeout="30" /-->
    <add key="MedITS" DBType="Oracle" DBServer="MSDAORA.1" DBUserName="vtrack" DBUserPWD="vico0808" DBInstance="Local.jx" DBTimeout="30" />
  </DBSettings>
  <PrinterSettings>
    <add key="LabelPrinter" value="ZEBRA" format="8" Port="LPT3" />
    <add key="MedITSPrinter" value="ZEBRA" format="0" />
  </PrinterSettings>
</Configuration>